example/
src/
test/
.babelrc
.flowconfig
.npmignore
yarn-error.log
yarn.lock
/example
.eslintrc
jestConfig.json
.idea/
.rpt2_cache/
.coveralls.yml
jest.config.js
rollup.config.js
setup.ts
tsconfig.json
tsconfig.jest.json
.github
.eslintrc.js
.vscode
.prettierrc
