* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;

  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 140px;

  background: lightgrey;
}

.main {
  display: flex;
  justify-content: space-between;
}

.content {
  position: relative;

  flex: 1 1 auto;
  height: 700px;

  background: plum;
}

.aside {
  position: relative;
  width: 320px;
  background: rgb(190, 246, 198);
}

.footer {
  display: flex;
  justify-content: space-between;

  height: 1950px;
  background: lightgrey;
}

.column {
  flex: 1 1 auto;
}
